.visible { display: block; }
.invisible { display: none; }
.answer, .button { display: none; }

.disabled { pointer-events: none; }

.correct { color: green; }
.incorrect { color: red; }

.green a::before { background: green; }
.red a::before { background: red; }

